# Write you your file her and add your credit to it
# If you didn't started the file but contributed to it, please feel free to add
# your self to that file(s) by:
# example.sh @your-user-name

.gitlab-ci.yml @Spirillen

* @Spirillen
